 <!DOCTYPE html>
  <html>
    <head>
        <title>Blog of awsomeness and cool</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/blog.css">
       <link href='https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
      <script>tinymce.init({selector:'textarea' });</script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav>
            <div class="nav-wrapper  teal">
                    <a href="index.html" class="brand-logo">Blog</a>
                    <ul class="right">
                         <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <li><a href="index.html">Home</a></li>
                <li><a href="admin.html">Admin<span class="badge new collection">1</span></a></li>
                        </div>

                <!-- Use any element to open the sidenav -->
                <span onclick="openNav()">Menu</span>
                       
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">My Blog</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer teal">
            <div class="container">
                <p><a href="#" id="color">Back to top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @2016 Andrew Heusser
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/Admin.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="login-template" type="text/x-handlebars-template">
         <div class="col s6">
          <h2 class="center-align">Login</h2>
          <div>
              <form class="col s12 form-signin">
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="email" type="email" name="email" class="validate">
                          <label for="email">Email</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="password" type="password" name="password" class="validate">
                          <label for="password">Password</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12">
                          <p class="right-align">
                              <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      </script>
      <script id="welcome-template" type="text/x-handlebars-template">
                  <h2>Welcome, {{email}}</h2>
                  <button class="btn btn-large waves-efect waves-light add-blog">add a new blog</button>
                  <button class="btn btn-large waves-efect waves-light logout">Logout</button>
      </script>
      <script id="add-blog-template" type="text/x-handlebars-template">
            <h2>Add a new Blog</h2>
      <div class="row">
          <form class="col s12 form-add-blog">
            <div class="row">
              <div class="input-field col s12">
                  <input id="title" type="text" name="title">
                  <label for="title">Add Title Here</label>
              </div>
            </div> 
                 <div class="row">
              <div class="input-field col s12">
              <p>Content</P>
                  <textarea id="content" name="content" class="materialize-textarea"></textarea>
          
                  
              </div>
            </div>
                 <div class="row">
                     <div class="col s12">
                         <p class="right-align">
                             <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                         </p>
            </div>
          </form>
      </div>
      </script>
      
    </body>
  </html>